@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

@layer base {
  .accountFormContainer {
    @apply flex flex-col gap-y-5 items-center rounded-lg h-96 mt-5 mx-5 p-10;
  }
  .myInput {
    @apply bg-white placeholder:text-gray-500 2xl:w-80 py-2 rounded-md border outline-none focus:shadow-md  px-5 focus:border-2 focus:border-gray-200 transition;
  }

  .sideBarContainer {
    @apply md:w-48 lg:w-[15rem] 2xl:w-64 fixed p-5 overflow-x-hidden  overflow-y-scroll  rounded-xl  bg-white h-[40rem]  flex flex-col items-start gap-y-5;
  }
  .myButton {
    @apply bg-black tracking-wide  w-80 py-3 rounded-lg hover:bg-black/70 text-white  text-[14px] transition-all;
  }
  .tableRow {
    @apply grid grid-cols-12 gap-x-1 mt-3  px-10 py-2;
  }

  .screenWidth {
    @apply w-[40rem] mymd:w-[44rem] mylg5:w-[48rem] mylg4:w-[50rem] mylg3:w-[54rem] mylg2:w-[58rem] mylg:w-[62rem] myXl:w-[65rem] 2xl:w-[70rem];
  }

  .scrrenColor {
    @apply bg-indigo-700 mymd:bg-lime-800 mylg5:bg-black mylg4:bg-yellow-500 mylg3:bg-orange-600  mylg2:bg-teal-800 mylg:bg-green-500 myXl:bg-blue-500 2xl:bg-red-500;
  }

  .paginationContainer {
    @apply flex items-center flex-wrap gap-y-5 gap-x-2 xl:gap-x-4 2xl:gap-x-5 mt-10;
  }

  .page-item {
    @apply w-5 h-5 text-[8px]  font-semibold md:text-[16px] md:w-8 md:h-8 flex items-center justify-center border  border-gray-400 rounded-md hover:bg-black hover:text-white;
  }

  .page-item a {
    width: 100%;
    text-align: center;
  }

  .selected-page {
    @apply opacity-100 bg-black text-white border-0;
  }

  .toggle-item {
    @apply rounded-md  text-xs md:text-[16px] hover:text-blue-500;
  }
}
